.dark-theme {
    background-color: #212529;
    color: #fff;
    height: 100vh;
}

.image-col {
    padding: 0;
}

.background-image {
    background-image: url('https://www.thoughtco.com/thmb/PCVPjqDcfiY4az_kycvn-EJA-e8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/swarthmore-college-Eric-Behrens-flickr-5706ffe35f9b581408d48cb3.jpg');
    background-size: cover;
    height: 100vh;
}

.login-card {
    background-color: #343a40;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px; /* Adjust margin as needed */
}

.login-card h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.college-name{
    -webkit-text-stroke: 1px black; 
    font-family: 'Lucida Handwriting', cursive;

}